<h3>Volume Rendering</h3>
<canvas width="800" height="600" id="target-canvas"></canvas>

@section Scripts {
    <!script src="/js/dist/client.js" type="module"></!script>
    <!script type="module">
            import { VolumeRenderingMain } from '/js/dist/client.js'
            VolumeRenderingMain();
    </!script>
}