@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>Client WASM @ClientIdentity.Id</h3>
<div 
    id="@ViewerId"
    @ref="SimpleRTCRef">
</div>

