@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<span> Server Handle: @ServerHandle</span>


<div @ref="SimpleRTCRef"></div>
