@{
    ViewData["Title"] = "Home Page";
}
<h2>ILSL Development</h2>
<div class="container mw-100 w-100">
    <div class="row" style="height:800px">
        <div class="col h-100" style="height:800px">
            <div id="editor-expected" class="h-100"></div>
        </div>
        <div class="col h-100">
            <div id="editor-generated" class="h-100"></div>
        </div>
    </div>
    <div class="row" >
        <div class="col" style="height:800px">
            <div id="editor-ast" class="h-100"></div>
        </div>
    </div>
</div>

@section Scripts {
        <!script src="/js/dist/client.js" type="module"></!script>
        <!script type="module">
        import { ILSLDevelopMain } from '/js/dist/client.js'
                                        ILSLDevelopMain();
       </!script>
}
