@page "/desktop"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Desktop DrillA Client Home</h3>

<p>
    id = @Client?.Uri
</p>
<p>
    peer id = @PeerClient?.Uri
</p>

<p>Frame count @FrameCount</p>
<button @onclick="UpdateFrameCount">Update Frame Count</button>

@if (!Connected)
{
    <p>
        <h4>Peer Ids</h4>
        <button @onclick=RefreshPeerIds>refresh</button>

        <ul>
            @foreach (var pid in PeerUris)
            {
                <li>@pid</li>
                <button @onclick=@(() => Connect(pid))>connect</button>
            }
        </ul>
    </p>
}
else
{
    <button @onclick="SendVideo">Send Video</button>
}
<video id="selfVideo" @ref="SelfVideoElement" autoplay playsinline></video>
<video id="peerVideo" @ref="PeerVideoElement" autoplay playsinline></video>

@if (Connected)
{
    <button @onclick=@(() => Disconnect())>disconnect</button>
}

<div>
    <span>Render Service</span>
    <button @onclick="CreateRenderContext">Create Render Context</button>
    <button @onclick="Render">Start Render</button>
    <button @onclick="StopRender">Stop Render</button>
</div>

<canvas id="render-root" @ref="RenderRootElement" width="800" height="600" />

