@page "/desktop"
@using Shared;
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Desktop Client</h3>
<span>Scale</span> <InputNumber @bind-Value="Scale"></InputNumber>
@if (Module is null)
{
    <div>Initializing Client ...</div>
}
else
{
    <CascadingValue Value="Module">
        <DualDrill.Server.Components.Shared.InitializedClient Client="Client"
                                                              RenderService="RenderService">
        </DualDrill.Server.Components.Shared.InitializedClient>
    </CascadingValue>
}

<video id="selfVideo" @ref="SelfVideoElement" autoplay playsinline></video>
<video id="peerVideo" @ref="PeerVideoElement" autoplay playsinline></video>

