@page "/desktop"
@using Shared;
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Desktop Client</h3>
@if (Module is null)
{
    <div>Initializing Client ...</div>
}
else
{
    <CascadingValue Value="Module">
        <DualDrill.Server.Components.Shared.InitializedClient Client="Client"
                                                              RenderService="RenderService">
        </DualDrill.Server.Components.Shared.InitializedClient>
    </CascadingValue>
}

