@page "/headset"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Headset Client</h3>
<span>Scale</span><InputNumber @bind-Value="Scale" ></InputNumber>
<p>
    id = @Client?.Uri
</p>
<p>
    peer id = @PeerClient?.Uri
</p>

@if (!Connected)
{
    <p>
    <h4>Peer Ids</h4>
    <button @onclick=RefreshPeerIds>refresh</button>

    <ul>
            @foreach (var pid in PeerUris)
            {
            <li>@pid</li>
            <button @onclick=@(() => Connect(pid))>connect</button>
            }
    </ul>
    </p>
}
else
{
    <button @onclick="SendVideo">Send Video</button>
}
<video id="selfVideo" @ref="SelfVideoElement" autoplay playsinline></video>
<video id="peerVideo" @ref="PeerVideoElement" autoplay playsinline></video>

