@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>ServerSideCounter</h3>


<p>Client Id @ClientId</p>
<p role="status">@Count</p>
<button @onclick="AddOne">AddOne</button>
<button @onclick="RefreshClientId">Refresh Client Id</button>


@code {
    private int Count { get; set; } = 0;
    private string ClientId { get; set; } = "unknown";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    void AddOne()
    {
        Count++;
    }

    async Task RefreshClientId()
    {
    }
}
